.aboutContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 3rem;
}

.aboutTitle {
	flex: 0 0 100%;
	display: flex;
	align-items: baseline;
}

.aboutTitle::after{
	content: '';
	display:block;
	border-bottom: 1px solid var(--text-secondary-color);
	width: 150px;
	position: relative;
	margin-left: 30px;
  }

  .imageContainer{
	display: flex;
	flex: 0 0 50%;
  }

.aboutImage {
	
}

.aboutText {
	flex: 0 0 35%;
}

@media only screen and (max-width: 1200px) {
	.aboutContainer{
		padding-left: 5rem;
	}
}

@media only screen and (max-width: 992px) {
	.aboutContainer{
		flex-direction: column;
	}
	.aboutImage{
		margin: 0 auto 1rem auto;
	}
	.aboutText{
		flex: 0 0 100%;
	}
}

@media only screen and (max-width: 768px) {
	.aboutContainer{
		flex-direction: column;
		padding-left: 5rem;
	}
	.aboutImage{
		margin: 0 auto 1rem auto;
	}
	.aboutText{
		flex: 0 0 100%;
	}
}

@media only screen and (max-width: 600px) {
	.aboutContainer{
		flex-direction: column;
		padding: 0 1rem;
		width: 100%;
	}
	.aboutTitle::after{
		content: '';
		display:block;
		border-bottom: 1px solid var(--text-secondary-color);
		width: 50px;
		position: relative;
		margin-left: 10px;
	  }
	.aboutImage{
		margin: 0 auto 1rem auto;
	}
	.aboutText{
		flex: 0 0 100%;
		width: 100%;
	}
}
