.aboutContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 3rem;
	padding-right: 2rem;
}

.aboutTitle {
	flex: 0 0 100%;
	display: flex;
	align-items: baseline;
}

.aboutTitle::after{
	content: '';
	display:block;
	border-bottom: 1px solid var(--text-secondary-color);
	width: 150px;
	position: relative;
	margin-left: 30px;
  }

  .imageContainer{
	display: flex;
	flex: 0 0 50%;
	flex-direction: column;
  }

  .imageCaption{
	font-size: var(--fz-xxs);
	margin: auto;
	margin-top: 5px;
	color: var(--text-primary-color);
  }

  .captionTech{
	text-decoration: none;
  }

.aboutTextContainer{
	flex: 0 0 35%;
	display: flex;
	flex-direction: column;
}

.aboutText {
	align-self: flex-end;
	margin-top: 5rem;
  background-color: var(--bg-secondary-color);
  width: 150%;
  z-index: 1;
  padding: 2rem;
  border-radius: 8px;
}

@media only screen and (max-width: 1200px) {
	.aboutContainer{
		padding-left: 5rem;
	}
}

@media only screen and (max-width: 992px) {
	.aboutContainer{
		flex-direction: column;
	}
	.aboutImage{
		margin: 0 auto;
	}
	.aboutTextContainer{
		flex: 0 0 100%;
	}
	.aboutText{
		width: 100%;
		margin-top: 1rem;
	}
	.imageCaption{

	}
}

@media only screen and (max-width: 768px) {
	.aboutContainer{
		flex-direction: column;
		padding-left: 5rem;
	}
	.aboutImage{
		width: 350px;
		height: 367px;
	}
	.aboutTextContainer{
		flex: 0 0 100%;
	}
}

@media only screen and (max-width: 600px) {
	.aboutContainer{
		flex-direction: column;
		padding: 0 1rem;
		width: 100%;
	}
	.aboutTitle::after{
		content: '';
		display:block;
		border-bottom: 1px solid var(--text-secondary-color);
		width: 50px;
		position: relative;
		margin-left: 10px;
	  }
	.aboutTextContainer{
		flex: 0 0 100%;
		width: 100%;
	}
}

@media only screen and (max-width: 400px) {
	.aboutImage{
		width: 200px;
		height: 210px;
	}
}
