.error{
	font-size: var(--fz-xs);
	color: var(--text-error-color);
	margin: -15px 0;
}
.contactForm {
	display: flex;
	flex-direction: column;
	width: 85%;
	margin: auto;
	gap: 25px;
}

.contactMessage, .contactName, .contactEmail{
	padding: 20px;
	font-size: 1rem;
	background-color: var(--bg-secondary-color);
	border: var(--text-primary-color) solid 1px;

}

.contactMessage:focus, .contactName:focus, .contactEmail:focus{
	border: var(--primary-color) solid 1px;
	outline: var(--primary-color) solid;
}

.contactSubmit {
	margin: auto;
	cursor: pointer;
	padding: 1.25rem 1.75rem;
	background-color: var(--bg-primary-color);
	border: var(--primary-color) solid 2px;
	color: var(--primary-color);
	transition: all 0.5s;
}

.contactSubmit:hover{
	background-color: var(--primary-color);
	color: var(--bg-primary-color);
	box-shadow: 5px 5px var(--bg-shadow);
}

.contactSubmit:active{
	background-color: var(--primary-color);
	color: var(--bg-primary-color);
	box-shadow: 5px 5px var(--bg-shadow) inset;
}