.error{
	font-size: var(--fz-xs);
	color: var(--text-error-color);
	margin: -15px 0;
}
.contactForm {
	display: flex;
	flex-direction: column;
	width: 85%;
	margin: auto;
	gap: 25px;
}

@keyframes easeIn {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.formLabel{
	margin: -5px 0 -20px 0;
	font-size: var(--fz-xs);
	opacity: 0;
}

.labelShow{
	margin: -5px 0 -20px 0;
	font-size: var(--fz-xs);
	animation: easIn 3s;
}

.contactMessage, .contactName, .contactEmail{
	padding: 20px;
	font-size: 1rem;
	background-color: var(--bg-secondary-color);
	border: var(--text-primary-color) solid 1px;

}

.contactMessage:focus, .contactName:focus, .contactEmail:focus{
	border: var(--primary-color) solid 1px;
	outline: var(--primary-color) solid;
}

.contactSubmit, .contactSent {
	border-radius: 8px;
	margin: auto;
	cursor: pointer;
	padding: 1.25rem 1.75rem;
	background-color: var(--bg-primary-color);
	border: var(--primary-color) solid 2px;
	color: var(--primary-color);
	transition: all 0.5s;
}

.contactSent {
	cursor: default;
}

.contactSubmit:hover{
	background-color: var(--primary-color);
	color: var(--bg-primary-color);
	box-shadow: 5px 5px var(--bg-shadow);
}

.contactSubmit:active, .contactSending{
	background-color: var(--primary-color);
	color: var(--bg-primary-color);
	box-shadow: 5px 5px var(--bg-shadow) inset;
}

.contactSending{
	border-radius: 8px;
	margin: auto;
	cursor: pointer;
	padding: 1.25rem 1.75rem;
	transition: all 0.5s;
	border: var(--primary-color) solid 2px;
}