.hero {
	margin-bottom: 2rem;
	position: relative;
	overflow: hidden;
}

.introSection{
	margin-top: 5rem;
}

.introContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100%;
	margin-top: 10rem;
	gap: 10px;
	padding: 0 3rem;
}

.introText {
	flex: 0 0 50%;
}


.greeting{
	color: var(--primary-color);
	display: inline-block;
	width: 9.85001px;
}

.introName {
	margin-left: 2rem;
}

.introTitle {
	margin-left: 2rem;
}

.introDescription {
	margin: 15px 0px;
}

.introImage {
	flex: 0 0 35%;
	height: 40%;
}

@media only screen and (max-width: 1200px) {
	.introContainer{
		margin-top: 6rem;
	}
	.introText{
		padding-left: 4rem;
	}
	.introImage{
		flex: 0 0 45%;
	}
}

@media only screen and (max-width: 992px) {
	.introContainer{
		margin-top: 6rem;
	}
	.introText{
		padding-left: 4rem;
	}
	.introImage{
		flex: 0 0 45%;
	}
}

@media only screen and (max-width: 768px) {
	.hero{
		height: 100%;
	}
	.introContainer{
		margin-top: 3rem;
		flex-direction: column;
	}
	.introText{
		padding-left: 4rem;
	}
	.introImage{
		width: 60%;
		margin: auto;
	}
}

@media only screen and (max-width: 600px) {
	.hero{
		height: 100%;
		margin-bottom: 0;
	}
	.introContainer{
		margin-top: 3rem;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.introText{
		padding-left: 0;
		margin: auto;
		width: 100%;
	}
	.introImage{
		width: 75%;
		margin: auto;
	}
	.introName {
		font-size: var(--fz-xxl);
	}
	
	.introTitle {
		font-size:var(--fz-xl)
	}
}
