.contactContainer{
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	padding-left: 5rem;
}

.contactTitle{
	justify-content: end;
	flex: 0 0 100%;
}

.contactTitle::before {
	content: '';
	display:block;
	border-bottom: 1px solid var(--text-secondary-color);
	width: 150px;
	position: relative;
	margin-right: 30px;
}

.contactLogo{
	flex: 0 0 50%;
	display: flex;
}

.formContainer{
	flex: 0 0 50%;
}

.contactText{
	text-align: center;
	margin: 5px auto 30px auto;
	color: var(--text-secondary-color);
}


@media only screen and (max-width: 768px) {
.contactSection{
	margin-bottom: 1rem;
}

	.contactContainer{
		padding: 0 5rem;
		flex-direction: column;
	}
	.contactLogo{
		width: 60%;
		margin: auto;
	}
}

@media only screen and (max-width: 600px) {
	.contactLogo{
		width: 70%;
	}
	.contactContainer{
		padding: 0 1rem;
	}
}

@media only screen and (max-width: 450px) {
	.contactContainer{
		padding: 0 0;
	}
}
